body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: whitesmoke;
}

.loader {
  font-size: 60px;
  color: #17394d;
  text-align: center;
  padding: 100px 0;
}
